
.nav-container {
  position: fixed;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  display: flex;
  align-items: center;
  gap: 2rem;

  padding: 0.7rem 1.6rem;
  border-radius: 999px;

  backdrop-filter: blur(18px) saturate(140%);
  transition: all 0.3s ease;
  box-shadow: 0 0 25px rgba(0,0,0,0.12);
}

html.light .nav-container {
  background: rgba(255, 255, 255, 0.65);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

html.dark .nav-container {
  background: rgba(20, 20, 20, 0.55);
  border: 1px solid rgba(255, 255, 255, 0.10);
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.08);
}

.nav-container:hover {
  transform: translateX(-50%) scale(1.03);
}



.nav-logo {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.5px;
}


html.light .nav-logo {
  color: #222;
}

html.dark .nav-logo {
  color: white;
}

.dot-red {
  color: #ff3b3b;
}


.nav-links {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

html.light .nav-links a {
  color: #222;
}


html.dark .nav-links a {
  color: rgba(255, 255, 255, 0.9);
}

.nav-links a {
  text-decoration: none;
  font-size: 0.95rem;
  transition: 0.25s ease;
}

.nav-links a:hover {
  color: #ff4747;
}


.config-btn,
.theme-btn {
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .nav-container {
    gap: 1rem;
    padding: 0.6rem 1rem;
  }

  .nav-links {
    gap: 0.9rem;
  }

  .nav-links a {
    font-size: 0.85rem;
  }
}
